@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Source+Code+Pro&display=swap');

* {
  background-color: #001a33;
  color: #a8b2d1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.profile {
  max-width: 80%;
  margin: 30px auto;
  padding: 20px;
  margin-top: 100px;
  font-family: 'Source Code Pro', monospace;
}

.navbar {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
}

.navbar .links {
  margin-right: 10vw;
  text-align: center;
  float: right;
  margin-top: 25px;
}

.navbar .links a {
  margin-left: 5vw;
  text-decoration: none;
  padding: 6px;
  font-weight: bold;
  color: #ccd6f6;
}

.navbar .links a:hover {
  color: #64ffda;
  text-shadow: 0 0 10px #64ffda;
}

.profile button {
  padding: 15px;
  width: auto;
  border: 1px solid white;
  font-size: large;
}

.profile button:hover {
  background-color: #64ffda;
  color: #001a33;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.info, .skills, .outer, .navbar {
  content: "";
  display: table;
  clear: both;
  
}

.info div, .skills div, .outer div, .navbar div {
  float: left;
  width: auto;
  padding: 0 20px;
}

#intro {
  margin-top: 60px;
  text-align: left;
}

#intro h1, h4 {
  color: whitesmoke;
  margin: 0;
}

#intro p, .about h4 {
  color: #64ffda;
  margin: 0;
}

.about {
  margin-left: auto;
  max-width: 60%;
}

.about h3 {
  color: #64ffda;
}

ul {
  list-style: none;
  margin-top: 5px;
}

.skills ul li::before, .expdiv ul li::before {
  content: "\2022";
  color: #64ffda;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  color: #ccd6f6;
}

.social {
  margin-top: 30px;
  text-align: center;
}

.social a {
  text-decoration: none;
}

.social a:hover {
  color: #64ffda;
}

.foot {
  font-size: small;
  text-align: center;
  color: slategrey;
  font-family: 'Source Code Pro', monospace;
}

.education {
  margin-top: 80px;
  margin-left: 15%;
  margin-bottom: 80px;
  font-family: 'Source Code Pro', monospace;
}

.education h1 {
  color: whitesmoke;
  margin-bottom: 60px;
}

.edudiv {
  padding: 15px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 60%;
  box-shadow: 1px 3px 5px black;
}

.edudiv h3 {
  color: #64ffda;
}

.deg {
  color: whitesmoke;
  font-style: italic;
}

.experience {
  margin-top: 80px;
  margin-left: 15%;
  margin-bottom: 80px;
  font-family: 'Source Code Pro', monospace;
}

.experience h1 {
  color: whitesmoke;
  margin-bottom: 20px;
}

.expdiv {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  box-shadow: 1px 3px 5px black;
  margin-right: 40px;
  display: inline-block;
  position: relative;
  height: 50vh;
}

.expdiv h3 {
  color: #64ffda;
}

.projects {
  margin-top: 80px;
  margin-left: 15%;
  margin-bottom: 80px;
  margin-right: 15%;
  font-family: 'Source Code Pro', monospace;
}

.projects h1 {
  color: whitesmoke;
  margin-bottom: 60px;
}

.projdiv {
  margin-left: 50px;
  height: 250px;
  text-align: left;
  box-shadow: 1px 3px 5px black;
  border-radius: 20px;
  padding: 20px;
}

.projdiv h3 {
  color: #64ffda;
}

.projdiv table {
  width: 100%;
}

.gitproj {
  text-align: right;
  font-size: 25px;
}

.projdiv a {
  display: inline-block;
  text-decoration: none;
  font-size: larger;
  color: #f2f2f2;
  transition: 0.5s;
}

.projdiv a:hover {
  color: #64ffda;
  transform: scale(2,2);
}

.techdiv ul {
  list-style: none;
}

.techdiv ul li::before {
  content: "\25AA";
  color: #64ffda;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

.carousel.carousel-slider, .slider-wrapper {
  height: 300px; 
} 

.logo {
  margin-right: auto;
  max-width: fit-content;
  font-family: 'Babylonica', cursive;
  font-size: 50px;
  font-weight: bold;
  margin-left: 10px;
}

.logo span {
  color: #64ffda;
}

.expTab{
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 23vw;
  box-shadow: 1px 3px 5px black;
  cursor: pointer;
  height: 40px;
}

.expTab h4 {
  color: #64ffda;
}

.expTabSelected {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 5px black;
  cursor: pointer;
  background-color: #f2f2f2;
  height: 40px;
  width: 23vw;
}

.expTabSelected h4 {
  background-color: #f2f2f2;
  color: #001a33;
}

.overlapDiv {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #001a33;
  opacity: 0.7;
  z-index: 1;
  position: absolute;
  height: 40px;
  width: 23vw;
  margin-top: -90px;
  cursor: pointer;
}

.ovetlapDivHide {
  display: none;
}

.expRight {
  float: left;
  width: 30%;
  display: inline-block;
}